{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/passion-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">I'm a Software Engineer</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <p>Hey there, I'm Gideon, and I'm thrilled to welcome you to my corner of the internet.
              As a developer with a penchant for sharing random thoughts, I've created this space to delve
              into the fascinating world of coding, technology, and everything in between.</p>
          <br>
          <h1>A Bit About Me</h1>
          <p>With a background in Robotics and AI I developed interest in software engineering,
              From crafting sleek web applications to tinkering with cutting-edge
              technologies, I'm constantly exploring new avenues within the realm of development.</p>
          <br>
          <h1>Why This Blog?</h1>
          <p>So, why start a blog, you ask? Well, I've always believed in the power of sharing knowledge
              and experiences. Through this platform, I aim to offer insights, tips, and perhaps a dash of
              inspiration to fellow developers, whether seasoned pros or enthusiastic beginners.</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
